<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:jpa="http://www.springframework.org/schema/data/jpa"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd">
       <beans xmlns="http://www.springframework.org/schema/beans"
              xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
              xmlns:context="http://www.springframework.org/schema/context"
              xmlns:tx="http://www.springframework.org/schema/tx"
              xmlns:p="http://www.springframework.org/schema/p"
              xmlns:jdbc="http://www.springframework.org/schema/jdbc"
              xmlns:util="http://www.springframework.org/schema/util"

              xsi:schemaLocation="
                http://www.springframework.org/schema/jdbc
                http://www.springframework.org/schema/jdbc/spring-jdbc.xsd
                http://www.springframework.org/schema/beans
                http://www.springframework.org/schema/beans/spring-beans.xsd
                http://www.springframework.org/schema/tx
                http://www.springframework.org/schema/tx/spring-tx.xsd
                http://www.springframework.org/schema/util
                http://www.springframework.org/schema/util/spring-util.xsd
                http://www.springframework.org/schema/context
                http://www.springframework.org/schema/context/spring-context.xsd">

           <bean id="usersRepository" autowire="byType" class="com.tsystems.sbb.DAL.implementation.UsersRepositoryImpl"
                 lazy-init="true"/>

              <bean id="dataSource" class="org.springframework.jdbc.datasource.DriverManagerDataSource">

                     <property name="driverClassName" value="com.mysql.jdbc.Driver" />
                     <property name="url" value="jdbc:mysql://localhost:3306/sbbproject" />
                     <property name="username" value="root" />
                     <property name="password" value="Password1234" />
              </bean>

              <bean id="transactionManager"
                    class="org.springframework.orm.hibernate4.HibernateTransactionManager"
                    p:sessionFactory-ref="sessionFactory"/>
              <tx:annotation-driven/>
              <context:component-scan base-package="com.tsystems.sbb"/>
              <bean id="sessionFactory"
                    class="org.springframework.orm.hibernate4.LocalSessionFactoryBean"
                    p:dataSource-ref="dataSource"
                    p:packagesToScan="com.apress.prospring4.ch7"
                    p:hibernateProperties-ref="hibernateProperties"/>
              <util:properties id="hibernateProperties">
                     <prop key="hibernate.dialect">org.hibernate.dialect.MySQLDialect</prop>
                     <prop key="hibernate.max_fetch_depth">3</prop>
                     <prop key="hibernate.jdbc.fetch_size">50</prop>
                     <prop key="hibernate.jdbc.batch_size">10</prop>
                     <prop key="hibernate.show_sql">true</prop>
              </util:properties>
           <jpa:repositories base-package="com.tsystems.sbb.DAL.contracts"
                             entity-manager-factory-ref="sessionFactory"
                             transaction-manager-ref="transactionManager"/>
       </beans>
</beans>